*{
    margin: 0;
    padding: 0;
}
body{
    width: 99vw;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;



}
header{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    flex-direction: row;
    padding: 1rem;
    background-color: #1f2937;
    color: #E5E7EB;
}
a{
    all: unset;
}
.hlogo{
    width: 6rem;
}
.logoutn{
    width: 100%;
}
.menu {
    display: flex;
    gap: 3rem;
}
.proyectos{
    width: 100vw;
}
.videoDiv{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    gap: 150px;
    background-color: #1f2937;

}

.videotext{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.videoplaceholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 35vh;
    width: 40vw;
    border-radius: 12px;
}
.videotitle{
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
    text-align: center;
    margin-bottom: 2.5rem;
}
.videosubtext{
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
    margin-bottom: 2.5rem;
}

.videobutton {
    background-color: #3882F6;
    width: 5rem;
    padding: 15px;
    border-radius: 12px;
    flex-grow: 0;
    margin-left: 50%;
}

.videobutton:hover{
    scale: 1.1;
}

.otrosproyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.proyecyostitle{
    color:#1f2937;
    font-size: 36px;
    font-weight: 900;
}
.cuadros, .txtcuadros{
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
}
.cuadro {
    width: 15rem;
    height: 15rem;
    border: 3px solid #3882F6;
    border-radius: 16px;
}
.txtcuadro{
    width: 15rem;
    height: 15rem;
text-align: center;}
.linkimg{
    width: 100%;
    height: 100%;
}
.imgCuadros{
    border-radius: 16px;
    max-height: 15rem;
    height: inherit;
    width: inherit;
    object-fit:cover;
    overflow: hidden;
}

.cv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cvCuadro{
    margin-top: 3rem;
    width: 45vw;
    height: 88vh;
    border: #1f2937 solid 2px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}