*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;



}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    flex-direction: row;
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 1rem;
    margin: 0;
}
a{
    all: unset;
}
a:hover{
    cursor:pointer;
}
.hlogo{
    width: 6rem;
}
.logoutn{
    width: 100%;
}
.menu {
    display: flex;
    gap: 3rem;
}

.cvMenu,.contactoMenu{
    padding: .4rem;
}
.proyectosMenu{
    padding: .4rem;
    border-left: 2px #2a384b solid;
    border-right: 2px #2a384b solid;
    padding-left: .5rem;
    padding-right: .5rem;
}


.proyectos{
    width: inherit;

    margin: 0;
}

.proyectostitle{
    color:#1f2937;
    font-size: 36px;
    font-weight: 900;
}
.videoDiv{
    width: 100vw;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 150px;
    background-color: #1f2937;

}

.videotext{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
.videoplaceholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 35vh;
    width: 40vw;
    border-radius: 12px;
}
.videotitle{
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
    text-align: center;
    margin-bottom: 2.5rem;
}
.videosubtext{
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
    margin-bottom: 2.5rem;
}

.videobutton {
    position: relative;
    background-color: #3882F6;
    width: 5rem;
    padding: 15px;
    border-radius: 12px;
    flex-grow: 0;
    margin-left: 50%;
    text-align: center;
    right: 3.5rem;
}

.videobutton:hover{
    scale: 1.1;
}

.otrosproyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cuadros, .txtcuadros{
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
}
.cuadro {
    width: 15rem;
    height: 15rem;
    border: 3px solid #3882F6;
    border-radius: 16px;
}
.cuadro:hover{
    box-shadow: 0px 0px 15px rgb(38, 1, 250);
}
.txtcuadro{
    width: 15rem;
    height: 15rem;
    text-align: center;}
.linkimg{
    width: 100%;
    height: 100%;
}
.imgCuadros{
    border-radius: 16px;
    max-height: 15rem;
    height: inherit;
    width: inherit;
    object-fit:cover;
    overflow: hidden;
}
.pProyecto{
    font-size: large;
}


.cv{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.cvCuadro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    margin-top: 3rem;
    width: 50vw;
    border: #1f2937 solid 2px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}

.lineaDivisoraCv{
    width: 100%;
    height: 0.5rem;
    background-color: black;
}

.lineaDivisoraFinaCv{
    width: 100%;
    height: 0.1rem;
    background-color: rgb(36, 35, 35);
}
.linksCv{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trabajoCv{
    display: flex;
    justify-content: space-between;
}

.bloqueEstudios, .bloqueCertificados{
    display: flex;
    justify-content: space-between;
}

.aCv{
color:#3882F6;
}


/* Para celulares */
@media only screen and (max-width: 767px) {
    .cuadros{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .cvCuadro{
        width: 80vw;
    }

    header{
        display: flex;
        flex-direction: column;
    }
    .linksCv{
        flex-wrap: wrap;
    }

    .videoDiv{
        flex-wrap: wrap;
    }
    .videotext{
        align-items: center;
        justify-content: center;
    }
    .videoplaceholder{
        width: auto;
    }
  }